
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.imageWrapper {
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
}

.currentInstrumentWrapper {
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.bestPlayButton {
    display: flex;
    justify-content: center;
    padding-top: 250px;
}

  @media (max-width: 880px) {
    .imageWrapper {
      padding: 10px 10px;
      width: 100%;
    }
  }

  @media (max-width: 600px) {
    .imageWrapper {
        padding: 10px 10px;
        justify-content: space-between
      }
  }

  @media (max-width: 450px) {
    .imageWrapper {
        padding: 10px 10px;
        justify-content: space-between
      }
    .currentInstrumentWrapper {
        padding-top: 10px;
        display: flex;
        justify-content: center;
    }
  }