.title {
    text-align: center;
    padding: 30px 0px;
    font-size: 25px;
    font-family: 700;
    color: #fff;
}

.paragraph {
    text-align: center;
    font-size: 25px;
}

.avatar {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    max-width: 560px;
    font-size: 25px;
    cursor: pointer;
    color: black;
    padding-bottom: 20px;
    border-radius: 10px;
    border: 2px solid transparent
}

.selected {
    border-radius: 10px;
    border: 2px solid rgb(5, 5, 5);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.avatars {
    padding: 20px 0px;
    display: grid;
    gap: 60px;
    grid-template-columns: 1fr 1fr 1fr;
}

.avatarForm {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 700;
    gap: 20px;
    padding-top: 40px;
}

.btnWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.formLabel {
    text-align: center;
    text-shadow: none;
}

.nameInput {
    background-color: transparent;
    border-color: transparent;
    border-bottom: 2px solid black;
    letter-spacing: 3px;
    color: rgb(255, 255, 255);
}


@media (max-width: 570px) {
    .title {
        padding: 10px 10px;
    }
    .avatars {
      gap: 5px;
      padding: 10px 10px;
    }
    .avatar {
        max-width: 200px;
    }
  }

  @media (max-width: 450px) {
    .title {
        padding: 10px 10px;
        font-size: 20px;
    }
    .avatars {
      gap: 2px;
      padding: 10px 10px;
    }
    .avatar {
        max-width: 150px;
        font-size: 17px;
    }
  }