.title {
    text-align: center;
    padding: 30px 0px;
    font-size: 25px;
    font-family: 700;
}

.explanation {
    text-align: center;
    font-size: 25px;
}

.avatar {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    max-width: 560px;
    font-size: 25px;
    cursor: pointer;
    color: black;
    padding-bottom: 20px;
    border-radius: 10px;
    border: 2px solid transparent
}

.selected {
    border-radius: 10px;
    border: 2px solid rgb(5, 5, 5);
}

.label {
    font-weight: 700;
}

.links {
    text-decoration: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.avatars {
    padding: 20px 0px;
    display: grid;
    gap: 60px;
    grid-template-columns: 1fr 1fr 1fr;
}

.avatarForm {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 700;
    gap: 20px;
    padding-top: 40px;
}

.button62 {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 5px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.btnWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.formLabel {
    text-align: center;
}

.nameInput {
    background-color: transparent;
    letter-spacing: 3px;
}

@media (max-width: 570px) {
    .title {
        padding: 10px 10px;
    }
    .avatars {
      gap: 5px;
      padding: 10px 10px;
    }
    .avatar {
        max-width: 200px;
    }
  }

  @media (max-width: 450px) {
    .title {
        padding: 10px 10px;
        font-size: 20px;
    }
    .avatars {
      gap: 2px;
      padding: 10px 10px;
    }
    .avatar {
        max-width: 150px;
        font-size: 17px;
    }
  }