body {
    font-family: 'Bangers', cursive;
    letter-spacing: 3px;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.15);
    background-image: url("./assets/background_real.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }